<div id="archive">
  <%- page.content %>
  <ul class="post-list">
    <% var year = 0 %>
    <% var change = false %>
    <% var articles = site.data.articles %>
    <% for (var i in articles) { %>
      <% var itemYear = date(articles[i]['date'], 'YYYY') - 0 %>
      <% change = year !== itemYear %>
      <% year = change ? itemYear : year %>
      <% if (change) { %>
        <h2><%= year %></h2>
      <% } %>
      <li class="post-item">
        <%- partial('_partial/otherpost/date', { post: articles[i], class_name: 'meta' }) %>
        <span><%- partial('_partial/otherpost/title', { post: articles[i], index: true, class_name: '' }) %></span>
      </li>
    <% } %>
  </ul>
  <%- partial('pagination') %>
</div>
